{% extends 'nlp/base.html' %}

{% block content %}
<h1> Using this to try out actual text uploads</h1>

<form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Go!</button>
</form>


<!--the old version down here-->
<!-- <form method="post" enctype="multipart/form-data">-->
<!--            {% csrf_token %}-->
<!--            <p>{{ form.non_field_errors }}</p>-->

<!--            <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>-->

<!--            <p>-->
<!--                {{ form.docfile.errors }}-->
<!--                {{ form.docfile }}-->
<!--            </p>-->

<!--            <p><input type="submit" value="Upload"/></p>-->
<!--        </form>-->

{% endblock %}
