{% extends "nlp/base.html" %}

{% block content %}
    <h1>Workspace</h1>
    <p>Working with: {{ workingfile }}</p>
    <p>As user: {{ user }}</p>

    <h1>Process a text</h1>
    <form method="POST" class="create-form">{% csrf_token %}
        {{ processform.as_p }}
        <button type="submit" name='processform' class="save btn btn-default">Save</button>
    </form>

<!--a form that has a dropdown menu of texts, and a user entered charfield-->
<!--test case for now: literal string match with selected text? first step is figuring out how to access model contents-->
    <h1>New query</h1>
    <form method="POST" class="create-form">{% csrf_token %}
        {{ queryform.as_p }}
        <button type="submit" name='queryform' class="save btn btn-default">Save</button>
    </form>

<table border="0">
    <thead>
    <tr>
        <th>POS</th>
        <th>Description</th>
        <th>Examples</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>ADJ</td>
        <td >adjective</td>
        <td >big, old, green, incomprehensible, first</td>
    </tr>
    <tr>
        <td >ADP</td>
        <td >adposition</td>
        <td >in, to, during</td>
    </tr>
    <tr>
        <td >ADV</td>
        <td >adverb</td>
        <td >very, tomorrow, down, where, there</td>
    </tr>
    <tr>
        <td >AUX</td>
        <td >auxiliary</td>
        <td >is, has (done), will (do), should (do)</td>
    </tr>
    <tr>
        <td >CONJ</td>
        <td >conjunction</td>
        <td >and, or, but</td>
    </tr>
    <tr>
        <td >CCONJ</td>
        <td >coordinating conjunction</td>
        <td >and, or, but</td>
    </tr>
    <tr>
        <td >DET</td>
        <td >determiner</td>
        <td >a, an, the</td>
    </tr>
    <tr>
        <td >INTJ</td>
        <td >interjection</td>
        <td >psst, ouch, bravo, hello</td>
    </tr>
    <tr>
        <td >NOUN</td>
        <td >noun</td>
        <td >girl, cat, tree, air, beauty</td>
    </tr>
    <tr>
        <td >NUM</td>
        <td >numeral</td>
        <td >1, 2017, one, seventy-seven, IV, MMXIV</td>
    </tr>
    <tr>
        <td >PART</td>
        <td >particle</td>
        <td >’s, not,</td>
    </tr>
    <tr>
        <td >PRON</td>
        <td >pronoun</td>
        <td >I, you, he, she, myself, themselves, somebody</td>
    </tr>
    <tr>
        <td >PROPN</td>
        <td >proper noun</td>
        <td >Mary, John, London, NATO, HBO</td>
    </tr>
    <tr>
        <td >PUNCT</td>
        <td >punctuation</td>
        <td >., (, ), ?</td>
    </tr>
    <tr>
        <td >SCONJ</td>
        <td >subordinating conjunction</td>
        <td >if, while, that</td>
    </tr>
    <tr>
        <td >SYM</td>
        <td >symbol</td>
        <td >$, %, §, ©, +, −, ×, ÷, =, :), 😝</td>
    </tr>
    <tr>
        <td >VERB</td>
        <td >verb</td>
        <td >run, runs, running, eat, ate, eating</td>
    </tr>
    <tr>
        <td >X</td>
        <td >other</td>
        <td >sfpksdpsxmsa</td>
    </tr>
    <tr>
        <td >SPACE</td>
        <td >space</td>
        <td ></td>
    </tr>
    </tbody>
</table>

<br>
<br>
{% endblock %}
